<section class="wrapper style1 align-center" th:fragment="five">
	<div class="inner">
		<h2>Gallery</h2>
		<p>Bienvenido a este cuadro virtual</p>
	</div>

	<!-- Gallery -->
	<div class="gallery style2 medium lightbox onscroll-fade-in">
		<article>
			<a th:href="@{/img/magic-forest1.jpeg}" class="image">
				<img th:src="@{/img/magic-forest1.jpeg}" alt="" />
			</a>
			<div class="caption">
				<h3>Respeto en conciencia el mensaje</h3>
				<p>Elemento y habitad de todos los seres sintientes.</p>
				<ul class="actions fixed">
					<li><span class="button small">Details</span></li>
				</ul>
			</div>
		</article>
		<article>
			<a th:href="@{/img/magic-forest2.jpeg}" class="image">
				<img th:src="@{/img/magic-forest2.jpeg}" alt="" />
			</a>
			<div class="caption">
				<h3>Soy conciencia</h3>
				<p>Libero el sufrimiento, canción de escencia abre la puerta en conexión.</p>
				<ul class="actions fixed">
					<li><span class="button small">Details</span></li>
				</ul>
			</div>
		</article>
		<article>
			<a th:href="@{/img/magic-forest3.jpeg}" class="image">
				<img th:src="@{/img/magic-forest3.jpeg}" alt="" />
			</a>
			<div class="caption">
				<h3>Sol y edad</h3>
				<p>Formamos la unidad del rio que riega el mar y la nube que riega la montaña.</p>
				<ul class="actions fixed">
					<li><span class="button small">Details</span></li>
				</ul>
			</div>
		</article>
		<article>
			<a th:href="@{/img/magic-forest3.jpeg}" class="image">
				<img th:src="@{/img/pexels-mayu.jpg}" style="height: 75%;" alt="" />
			</a>
			<div class="caption">
				<h3>Sin confuncion</h3>
				<p>Sale el Sol y el ritmo del Mar danza con la Luna y Tierra</p>
				<ul class="actions fixed">
					<li><span class="button small">Details</span></li>
				</ul>
			</div>
		</article>
	</div>

</section>