<section class="wrapper style1 align-center" th:fragment="six">
	<div class="inner">
		<h2>Services</h2>
		<p>Gracias al habitad y rescontruccion el medio de la inspiración</p>
		<div class="items style1 medium onscroll-fade-in">
			<section>
				<span class="icon solid style2 major fa-leaf"></span>
				<h3>Reciclando App</h3>
				<p class="p-4">Servicio de reciclaje base</p>
			</section>
			<section>
				<span class="icon solid style2 major fa-sync-alt"></span>
				<h3>Vida circular</h3>
				<p class="p-4">Micro-economia y auto-sustentabilidad</p>
			</section>
			<section>
				<span class="icon solid style2 major fa-desktop"></span>
				<h3>Micro-Analisis</h3>
				<p class="p-4">Servicio de analisis de datos</p>
			</section>
		</div>
	</div>
</section>