.dark-violet{
	background-color: #9400d3;
}

.terra-cota{
	background-color: #e2725b;
}

.electric-indigo-back{
	background-color: #6f00ff;
}

.electric-indigo-color{
	color: #6f00ff;
}


a:link{
	text-decoration: none;
}
