<head th:fragment="head">
	<title th:text="${title}"></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
	<link th:href="@{/css/datatables.min.css}" type="text/css" rel="stylesheet">
	<link th:href="@{/css/jquery-ui.min.css}" type="text/css" rel="stylesheet">
	<noscript>
		<link rel="stylesheet" th:href="@{/css/noscript.css}" />
	</noscript>
</head>