<!-- Wrapper -->
<div th:fragment="home">

	<!-- One -->
	<div th:replace="/component/layout/body/one :: one"></div>

	<!-- Two -->
	<div th:replace="/component/layout/body/two :: two"></div>

	<!-- Three -->
	<div th:replace="/component/layout/body/three :: three"></div>

	<!-- Four -->
	<div th:replace="/component/layout/body/four :: four"></div>

	<!-- Five -->
	<div th:replace="/component/layout/body/five :: five"></div>

	<!-- Six -->
	<div th:replace="/component/layout/body/six :: six"></div>

	<!-- Seven -->
	<div th:replace="/component/layout/body/seven :: seven"></div>

	<!-- Footer -->
	<div th:replace="/component/layout/footer :: footer"></div>

</div>