<html lang="en" xmlns:th="http://www.thymeleaf.org">



<body>
	<!-- menu -->
	

	<!-- Footer -->
	<footer th:fragment="footer" class="text-center text-lg-start electric-indigo" >
    	<div class="container d-flex justify-content-center py-5">
    	
      		<button type="button" class="btn btn-primary btn-lg btn-floating mx-2 round-button">
				<i class="fab fa-github"></i>
      		</button>
      		<button type="button" class="btn btn-primary btn-lg btn-floating mx-2 round-button" >
        		<i class="fab fa-facebook-f"></i>
      		</button>
      		<button type="button" class="btn btn-primary btn-lg btn-floating mx-2 round-button">
        		<i class="fab fa-instagram p-2"></i>
	      	</button>
	      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2 round-button" >
				<i class="fab fa-linkedin"></i>
	      </button>
    	</div>
    	
    	<!-- Copyright -->
    	<div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      		© 2022 Copyright:
      		<a class="text-white" href="https://adareloise.cl/">adareloise.cl</a>
    	</div>
  	</footer>
	
</body>

</html>