<!-- Scripts -->
<div  th:fragment="scripts">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.scrollex.min.js}"></script>
	<script th:src="@{/js/jquery.scrolly.min.js}"></script>
	<script th:src="@{/js/browser.min.js}"></script>
	<script th:src="@{/js/breakpoints.min.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/datatables.min.js}" type="text/javascript"></script>
</div>